<div class='categoryHead'>
  <div class='one_fourth title'>
      <h1><%= @article.category.title %></h1>
  </div>
  <div class='one_fourth blurb'>
      <p><%= markdown("#{@article.category.summary}") %></p>
  </div>
</div>
<div>
  <div id='articleNote'>
    <div class='half_page'>
        <h3><%= link_to "#{@article.category.title}", category_path("#{@article.category.id}") %>:Article:</h3>
        <hr />
    </div>
  </div>
  <div id='actualArticle'>
  <%= render 'form' %>
  </div>
</div>
