<div class='categoryHead'>
  <div class='headBanner'>
      <div class='full_page title'>
          <h1><%= @article.category.title %></h1>
      </div>
      <div class='full_page blurb'>
          <p><%= markdown("#{@article.category.summary}") %></p>
      </div>
    </div>
</div>
<div class='headBanner'>
  <div id='articleNote'>
    <div class='half_page titleCard'>
        <h3><%= link_to "#{@article.category.title}", category_path("#{@article.category.id}") %>: Article:</h3>
        <hr />
    </div>
  </div>
  <div id='actualArticle'>
  <%= render 'form' %>
  </div>
</div>
