<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>It looks like your article has just been updated.</h1>
    <p>Codiki has many community member that are constantly contributing idea.
      It looks like your article: <%= @article %> that you have contributed has just been
      updated by your or a fellow community member.
      We are simply notifying you of this update. <br>
      We hope to see more contributions from you. We hope you are enjoying all the many endless projects on Codiki.

      Continue to be you and everything will be great!</p>
    <p> Lots of Love from the <strong><em> Codiki community</em></strong> </p>
  </body>
</html>
