// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index
.hero {
  background-color: #2C3034;
  min-height: 250px;
}
.article {
  margin: 3% 0;
}

.article.linking {
  background-color: #E6E6E6;
  padding:  1% 2%;
  margin: 1% 3% 1% 0;
}

.linking h2 {
  color: #333C81;
}
.linking small {
  color: #78BFD1;
}

.article.linking a {
  color: #2C3034;
}
.linking a:hover {
  color: #78BFD1;
}
.three_fourth hr {
  width: 120%;
}
.full_page.intro.personalize {
  margin: 1% 10%;
  color: #fff;
  width: 75%;
  text-align: left;
}
.full_page.intro h1 {
  font-family: 'Bitter',sans-serif;
  font-weight: lighter;
}
.full_page.intro p{
  font-family: 'Raleway',serif;
  line-height: 2em;
}

.linkRight {
  text-align: right;
  margin-right: 5%;
  font-size: 14px;
}
.article h3 {
  color: #78BFD1;
}

// show
.categoryHead {
  background-color: #E2CAA9;
  min-height: 175px;
}
.title {
  margin: 0;
  font-size: 20px;
  text-align: center;

}
.full_page.blurb {
  margin: 0 0 1% 0;
  font-size: 20px;
  text-align: center;
}


#articleNote{
  margin: 0 3%;
  // margin-left: 10%;
  height: 60px;
  max-width: 1090px;
  // clear: both;
}
#articleNote h3  {
  color: #78BFD1;
}
#articleNote h3 a {
  color: #78BFD1;
}
#articleNote h3 a:hover {
  color: #2C3034;
}
.half_page hr {
  width: 200%;
}
#articleNote p{
  text-align: right;
  font-size: 12px;
  margin: 5%;
  margin-right: 2%;
}
#articleNote p a{
  color: #2C3034;
}
#articleNote p a:hover {
  color: #78BFD1;
}

#actualArticle {
  margin:0 3%;
  max-width: 1090px;
}
#actualArticle h2 {
  color: #333C81;
}

.half_page#update {
  text-align: right;
  // margin-right: 10%;
}
.half_page#update p{
  margin: 0;
  font-size: 11px;
}
.half_page#update #timestamp {
  font-size: 10px;
}
.three_fourth p {
  margin: 0;
}
.full_page.artContent {
  width: 700px;
  margin-bottom: 160px;
}
.artContent p a {
  color: #2C3034;
}
.artContent p a:hover {
  color: #78BFD1;
}

// new
.newTitle {
  margin: 0;
  font-size: 18px;
  text-align: center;
  line-height: 3em;
}
.newTitle h1 {
  margin: 0;
}


// edit
.messages {
  color: red;
}
.three_fourth.actions{
  margin: 0;
  text-align: right;
}
.three_fourth.actions input[type=submit]{
  margin: 0 3%;
  margin-bottom: 3%;
  font-size: 16px;
  border-radius: 0;
}
input[type=text] {
  width: 400px;
  height: 1.5em;
  font-size: 14px;
  margin: 1% 0;
}
textarea{
  font-size: 12px;
  margin: 1% 0;
}
select {
  width: 400px;
  font-size: 14px;
  border-radius: 0;
  border: 0;
  margin: 1% 0;
}

.one_fourth.markdownGuide{
  margin-left: 15%;
}
