// Place all the styles related to the Contributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner{
  height: 150px;
  background-color: #2C3034;
}
.intro {
  font-size: 18px;
  line-height: 3em;
  color: #fff;
  margin: 3% 0 3% 0;
  text-align: center;
}

.intro h1 {
  margin: 0;
  padding: 0;
}
.full_page.intro{
  text-align: left;

}

.formbox {
  z-index: 1;
  background-color: #4883A9;
  margin:1%;
  min-height: 200px;
  max-width: 520px;
}

.full_page.formbox.registrationBox {
  min-height: 550px;
  margin: 1% 0;
  float:right;
  margin-top: -10%;
  margin-right: 5%;
}


#registration {
  margin: 5% 10%;
  color: #fff;
}

#registration h3 {
  text-align: center;
}

#registration .actions input[type=submit] {
  margin-right: 30%;
}

.full_page.formbox.thelogin {
  min-height: 300px;
  margin: 1% 0;
  float:right;
  margin-top: -10%;
  margin-right: 5%;
}

#loginbox {
  margin: 10%;
  color: #fff;
}

#loginbox h3 {
  text-align: center;
}

#loginbox .actions input[type=submit]{
  margin-right: 30%;
}

input[type=text] {
  width: 400px;
  margin: 1% 0;
}
input[type=password] {
  width: 400px;
  margin: 1% 0;
  font-size: 12px;
}
input[type=email] {
  width: 400px;
  margin: 1% 0;
  font-size: 12px;
}

input[type=submit] {
  width: 160px;
  font-size: 20px;
  margin: 1% 0;
}

.welcomeNote {
  z-index: -1;
  position: absolute;
  margin: 2% 3%;
  margin-left: 10%;
}
.welcomeNote p{
  width: 80%;
}
.welcomeNote ul{
  width: 60%;
}

.welcomeBackNote {
  z-index: -1;
  position: absolute;
  margin: 1% 3%;
  margin-left: 10%;
}
.welcomeBackNote p{
  width: 70%;
}


.errorPage {
  color: red;
  margin: 2% 3%;
}
.flash {
  color: red;
}

// index

.contributor.individuals {
  background-color: #E6E6E6;
  padding:  1% 2%;
  margin: 1% 3% 1% 0;
}
.contributor.individuals a {
  color: #2C3034;
}
.contributor.individuals a:hover {
  color: #78BFD1;
}
.contributor h3 {
  color: #78BFD1;
}

.contributor h2 {
  color: #333C81;
}
.contributor small {
  color: #78BFD1;
}
.name {
  font-size: 14px;
  text-align: left;
  margin: 3% 0 3% 8%;
  color: #fff;
}
.nameBanner{
  height: 150px;
  background-color: #2C3034;
}

.conArticle {
  background-color: #E6E6E6;
  padding:  1% 2%;
  margin: 1% 3%;
}
.conArticle.content{
  margin: 3%;
}

.content h2 a {
  color: #2C3034;
}
.content h2 a:hover {
  color: #78BFD1;
}
.content h2 {
  color: #333C81;
}
.content small {
  color: #78BFD1;
}

.full_page.formbox h3{
  color: #fff;
  margin: 3%;
}
.full_page.formbox.articleBox {
  min-height: 500px;
  margin: 1% 0;
  float:right;
  margin-top: -10%;
  margin-right: 5%;
}
.full_page.formbox.articleBox .newNew p {
  text-align:center;
}


// contact page
.question {
  line-height: 3em;
  text-align: center;
  margin: 0 3%;
  font-size: 16px;
  color: #fff;
}
#contactUs {
  margin: 2% 15% 5% 25%;
  text-align: center;
}

#contactUs h3 {
  font-size: 30px;
  margin: 6% 0;
  margin-top: 12%;
}
image {
  width: 50%;
}
// about
.category.aboutCodiki{
  width: 70%;
}
.half_page.category hr{
  width: 150%;
}
#aboutArticle h2  {
  color: #78BFD1;
}
#aboutArticle p a {
  color: #2C3034;
}
#aboutArticle p a:hover {
  color: #78BFD1;
}
#aboutArticle p small {
  color: #78BFD1;
}
.full_page.aboutNotice {
  line-height: 3em;
  margin: 0;
  text-align: center;
  font-size: 18px;
}
.full_page.aboutNotice h1{
  margin: 0;
}

//update/edit

#updateAccout {
  margin: 5% 10%;
  color: #fff;
}

#updateAccout h3 {
  text-align: center;
}

#updateAccout .actions input[type=submit] {
  margin-right: 30%;

}
.become {
  text-align: center;
  margin-bottom: 160px;
}
.full_page.formbox.newUpdate {
  min-height: 350px;
  margin: 1% 0;
  float:right;
  margin-top: -10%;
  margin-right: 5%;
}
