// Place all the styles related to the Contributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner{
  height: 50px;
  background-color: #E2CAA9;
}
.intro {
  font-size: 20px;
}
.formbox {
  z-index: 1;
  background-color: #4883A9;
  margin:1%;
  min-height: 200px;
}
#registration {
  margin: 0 10%;
  color: #fff;
}

#registration h3 {
  text-align: center;
}

#registration .actions {
  text-align: center;
}

#loginbox {
  margin: 5% 10%;
  color: #fff;
}

#loginbox h3 {
  text-align: center;
}

#loginbox .actions {
  text-align: center;
}

input[type=text] {
  width: 400px;
  margin: 1% 0;
}
input[type=password] {
  width: 400px;
  margin: 1% 0;
}
input[type=email] {
  width: 400px;
  margin: 1% 0;
}

input[type=submit] {
  width: 160px;
  font-size: 20px;
  margin: 1% 0;
}

.welcomeNote {
  z-index: -1;
  position: absolute;
  margin: 2% 3%;
}

.welcomeBackNote {
  z-index: -1;
  position: absolute;
  margin: 1% 3%;
}


.errorPage {
  color: red;
  margin: 2% 3%;
}
.flash {
  color: red;
}

// index

.contributor {
  margin: 0 3%;
}

.name {
  font-size: 14px;
  text-align: center;
  margin: 3% 0;
}
.nameBanner{
  height: 150px;
  background-color: #E2CAA9;
}

#conArticle {
  background-color: #fff;
  width: 90%;
  margin: 2% 5%;
}
#conArticle #content{
  margin: 3%;
}
.half_page.formbox h3{
  color: #fff;
  margin: 3% 5%;
}

// contact page
.question {
  line-height: 3em;
  text-align: center;
  margin: 3%;
}
#contactUs h3 {
  font-size: 30px;
  margin-top: 15%;
  text-align: center;
}
