// Place all the styles related to the Contributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner{
  height: 50px;
  background-color: #E2CAA9;
}
.intro {
  font-size: 20px;
}
.formbox {
  z-index: 1;
  background-color: #4883A9;
}
#registration {
  margin: 0 10%;
  color: #fff;
}

#registration h3 {
  text-align: center;
}

#registration .actions {
  text-align: center;
}
input[type=text] {
  width: 400px;
  margin: 1% 0;
}
input[type=password] {
  width: 400px;
  margin: 1% 0;
}
input[type=submit] {
  width: 160px;
  font-size: 20px;
  margin: 1% 0;
}

.welcomeNote {
  z-index: -1;
  position: absolute;
  margin: 0 3%;
}
