<div class='categoryHead'>
  <div class='one_fourth categoryNotice'>
      <h1>What topic would you like?</h1>
  </div>
  <div class='one_fourth blurb'>
    <p>Check out the topics we have available. <br>
      If you dont see anything you like... add your own. <br>
      Join the community and contribute your ideas. <br>
      Everyone is welcome.
    </p>
    </div>
</div>
<div>
  <div id='categoryNote'>
    <div class='half_page category'>
      <h3><%= link_to 'Category', categories_path %></h3>
        <hr />
    </div>
  </div>
    <div class='category form'>
      <%= render 'form' %>
    </div>
</div>
