<div class='categoryHead'>
    <div class='headBanner'>
        <div class='full_page categoryNotice'>
            <h1>What topic would you like?</h1>
        </div>
        <div class='full_page blurb'>
          <p>Check out the topics we have available.
            If you dont see anything you like... add your own. <br>
            Join the community and contribute your ideas.
            Everyone is welcome.
          </p>
        </div>
    </div>
</div>
<div class='headBanner'>
  <div id='categoryNote'>
      <div class='half_page category titleCard'>
        <h3><%= link_to 'Category', categories_path %></h3>
        <hr />
      </div>
  </div>
  <div class='category form'>
      <%= render 'form' %>
  </div>
</div>
