<div class='categoryHead'>
  <div class='headBanner'>
      <div class='full_page categoryNotice newTopic'>
          <h1>Want a new topic?</h1>
      </div>
      <div class='full_page blurb'>
          <p>Think about projects that you worked on.
            Was it challenging? Was is fun? <br>
            Was it a good learning experience?
            Share them all, we would all like to know.
          </p>
      </div>
  </div>
</div>
<div>
  <div id='categoryNote'>
    <div class='half_page category'>
      <h3><%= link_to 'Category', categories_path %></h3>
      <hr />
    </div>
  </div>
    <div class='category form'>
      <%= render 'form' %>
    </div>
</div>
