<div class='nameBanner'>
  <div class='headBanner'>
      <div class='full_page question'>
          <h1>Have a Question || Concern?</h1>
      </div>
      <div class='full_page formbox' id='contactUs'>
        <h3>CONTACT US</h3>
        <p><%= mail_to 'jenniferllwu@gmail.com', image_tag("emailicon.png", :alt => "email icon", size: "30x30") %></p>
      </div>
  </div>
</div>
