<div class='categoryHead'>
  <div class='headBanner'>
      <div class='full_page categoryNotice'>
          <h1>Be a hero, help contribute</h1>
      </div>
      <div class='full_page blurb'>
          <p> Some are more creative than others.
            Some want more practice than others. <br>
            Everyone needs a place to go for ideas.
            Why not check out Codiki?
          </p>
      </div>
    </div>
</div>
<div class='headBanner'>
  <div class='three_fourth titleCard'>
    <div class='contributor authors'>
      <h3>Contributors/Authors:</h3>
      <hr />
    </div>
      <% @contributors.each do |contributor| %>
      <div class='contributor individuals'>
          <h2><%= "#{contributor.first_name.capitalize} #{contributor.last_name.capitalize}" %> <small> |</small> <small><small><small><%= link_to 'View Details', contributor %></small></small></small></h2>
        </div>
      <% end %>
  </div>
</div>
