<h3>Please Log In</h3>
<form action='/login' method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <div class='field'>
      <label for='contributor_email'> Email: </label>
      <input type='email' id='contributor_email' name='email'>
  </div>
  <div class='field'>
      <label for='contributor_pw'> Password: </label>
      <input type='password' id='contributor_pw' name='password'>
  </div>
  <input type='submit'>
</form>
