<div class='banner'>
  <div class='one_fourth intro'>
      <h1>Welcome</h1>
  </div>
  <div class='half_page formbox'>
    <%= render 'form' %>
  </div>
</div>
<div class='one_fourth welcomeNote'>
    <h3>We're happy to have y ou join us!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <% if @contributor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contributor.errors.count, "error") %> prohibited this contributor from being saved:</h2>

        <ul>
        <% @contributor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

</div>
